# .gitignore
#
# helpful ignores for emacs

# compiled files
*.elc
**/.yas-compiled-snippets.el

# top-level local config files
/.mc-lists.el
/bookmarks
/ido.last
/lisp/my-custom-file.el
/my-custom-file.el
/recentf
/session.*
/smex-items
/tramp
/workgroups
/perspective


# various temp dirs
/.lsp-session-*
/auto-save-list/
/eln-cache/
/elpa/
/elpaca/
/eshell/
/forge-database.sqlite
/network-security.data
/projectile-bookmarks.eld
/projectile.cache
/rake.cache
/request/
/transient/
/tree-sitter/
/url/
/var/
