# .gitignore
#
# helpful ignores for emacs

# compiled files
*.elc
**/.yas-compiled-snippets.el

# various temp dirs
/elpa/
/auto-save-list/
/eshell/
/url/
/var/

# top-level config files
/my-custom-file.el
/session.*
/bookmarks
/tramp
/workgroups