[submodule "git/magit"]
	path = git/magit
	url = http://github.com/magit/magit.git
[submodule "git/csv-mode"]
	path = git/csv-mode
	url = http://github.com/emacsmirror/csv-mode.git
[submodule "git/smex"]
	path = git/smex
	url = http://github.com/nonsequitur/smex.git
[submodule "git/yaml-mode"]
	path = git/yaml-mode
	url = http://github.com/yoshiki/yaml-mode.git
[submodule "git/cperl-mode"]
	path = git/cperl-mode
	url = http://github.com/jrockway/cperl-mode.git
[submodule "git/yasnippet"]
	path = git/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
