[submodule "yaml-mode"]
	path = yaml-mode
	url = http://github.com/yoshiki/yaml-mode.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = http://github.com/jwiegley/haskell-mode.git
[submodule "magit"]
	path = magit
	url = http://github.com/philjackson/magit.git
[submodule "icicles"]
	path = icicles
	url = http://github.com/emacsmirror/icicles.git
[submodule "yasnippet"]
	path = yasnippet
	url = http://github.com/emacsmirror/yasnippet.git
[submodule "ibuffer-git"]
	path = ibuffer-git
	url = http://github.com/jrockway/ibuffer-git.git
[submodule "eproject"]
	path = eproject
	url = http://github.com/jrockway/eproject.git
[submodule "mode-compile"]
	path = mode-compile
	url = http://github.com/emacsmirror/mode-compile.git
